<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    {% assign pages = site.pages | sort:"order" %}
                    {% for node in pages %}
                        {% if node.menu == 'footer' %}
                            {% if page.url == node.url %}
                                <li class="active"><a href="{{node.url}}">{{node.title}}</a></li>
                            {% else %}
                                <li><a href="{{node.url}}">{{node.title}}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                <ul class="list-inline">
                    {% for social in site.social %}
                    <li>
                        <a href="{{ social.url }}" title="{{ social.title | capitalize }}">
                            <span class="fa-stack fa-lg fa-fw">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-{{ social.title }} fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
