$main-bg-color: #f8f8f8;

$header-bg-color: $main-bg-color;
$footer-bg-color: darken($main-bg-color, 2%);
$alt-content-bg-color: darken($main-bg-color, 2%);
$alt-content-border-color: darken($alt-content-bg-color, 5%);