.schedule {
    table {
        tr {
            &.talk {
                td {
                    padding: 12px;

                    padding-bottom: 30px;

                    img {
                        margin: 0 15px 10px 0;
                        float: left;
                        width: 120px;
                    }

                    h4 {
                    }
                }
            }
        }

    }
}
