.sponsors {

  line-height: 2em;
  padding-bottom: 100px;

  h3 {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }
  .platinum {
    h3 {
      border-bottom-color: #E5E4E2;
    }
  }
  .gold {
    h3 {
      border-bottom-color: #B8860B;
    }
  }
  img {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}