.sponsors {

  line-height: 2em;

  h3 {
    margin-top: 60px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
  }
  .platinum {
    h3 {
      border-bottom-color: #E5E4E2;
    }
  }
  .gold {
    h3 {
      border-bottom-color: #B8860B;
    }
  }
  .silver {
    h3 {
      border-bottom-color: #C0C0C0;
    }
  }
  .bronze {
    h3 {
      border-bottom-color: #CD7F32;
    }
  }
  img {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
